In [1]:
# Import necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os
import time

In [3]:
# Define the CSV file path
csv_file = 'scraped_reviews2.csv'

In [5]:
def check_connection(url):
    """
    Check if we can establish a connection to the specified URL.

    Args:
    - url (str): The URL to check the connection.

    Returns:
    - bool: True if connection is successful, False otherwise.
    """
    try:
        response = requests.head(url)
        return response.status_code == 200
    except requests.ConnectionError:
        return False

In [7]:
def fetch_reviews(page_number, offset):
    """
    Fetch reviews from the airline quality website for a specific page number.
    
    Args:
    - page_number (int): The page number to fetch.
    - offset (int): The number of reviews to fetch per request.

    Returns:
    - list: A list of dictionaries containing the review data.
    """
    url = f"https://www.airlinequality.com/airline-reviews/ethiopian-airlines/page/{page_number}/?sortby=post_date%3ADesc&pagesize={offset}"
    
    print(f"Fetching reviews from page {page_number} with offset: {offset}.")
    
    try:
        # Send a GET request to fetch webpage content
        response = requests.get(url)
        response.raise_for_status()

        # Parse the HTML content
        soup = BeautifulSoup(response.text, 'html.parser')
        reviews = soup.find_all('article', itemprop='review')

        if not reviews:
            print("No reviews found on this page.")
            return []

        # Initialize a list to store extracted data
        data = []

        for review in reviews:
            rating = review.find('span', itemprop='ratingValue')
            rating = rating.text.strip() if rating else "N/A"

            author = review.find('span', itemprop='name')
            author = author.text.strip() if author else "N/A"

            heading_service = review.find('h2', class_='text_header')
            heading_service = heading_service.text.strip() if heading_service else "N/A"

            author_span = soup.find('span', itemprop='author')
            location_text = author_span.next_sibling.strip() if author_span else "N/A"

            date = review.find('time', itemprop='datePublished')
            date = date['datetime'] if date else "N/A"

            review_body = review.find('div', class_='text_content', itemprop='reviewBody')
            review_body = review_body.text.strip() if review_body else "N/A"

            # Initialize additional review details
            type_traveller = date_flown = seat_type = route = recommended = "N/A"
            seat_comfort = Cabin_Staff_Service = food_rating = entertainment_rating = ground_service_rating = value_for_money = "N/A"

            stats = review.find('div', class_='review-stats')
            if stats:
                rows = stats.find_all('tr')
                for row in rows:
                    header = row.find('td', class_='review-rating-header')
                    value = row.find('td', class_='review-value')
                    stars = row.find('td', class_='review-rating-stars stars')

                    if header:
                        header_text = header.text.strip().lower()
                        if "type of traveller" in header_text:
                            type_traveller = value.text.strip() if value else "N/A"
                        elif "seat type" in header_text:
                            seat_type = value.text.strip() if value else "N/A"
                        elif "route" in header_text:
                            route = value.text.strip() if value else "N/A"
                        elif "recommended" in header_text:
                            recommended = value.text.strip() if value else "N/A"
                        elif "date flown" in header_text:
                            date_flown = value.text.strip() if value else "N/A"

                        if stars:
                            star_count = len(stars.find_all('span', class_='star fill'))
                            if "food & beverages" in header_text:
                                food_rating = star_count
                            elif "inflight entertainment" in header_text:
                                entertainment_rating = star_count
                            elif "ground service" in header_text:
                                ground_service_rating = star_count
                            elif "value for money" in header_text:
                                value_for_money = star_count
                            elif "cabin staff service" in header_text:
                                Cabin_Staff_Service = star_count
                            elif "seat comfort" in header_text:
                                seat_comfort = star_count

            # Append extracted data to the list
            data.append({
                'Rating': rating,
                'Author': author,
                'Author Location': location_text,
                'Review Date': date,
                'Review Title': heading_service,
                'Review': review_body,
                'Type of Traveller': type_traveller,
                'Seat Type': seat_type,
                'Route': route,
                'Date Flown': date_flown,
                'Seat Comfort': seat_comfort,
                'Cabin Staff Service': Cabin_Staff_Service,
                'Food & Beverages': food_rating,
                'Inflight Entertainment': entertainment_rating,
                'Ground Service': ground_service_rating,
                'Value for Money': value_for_money,
                'Recommended Service': recommended
            })

        return data

    except requests.exceptions.RequestException as e:
        print(f"Error fetching page {page_number}: {e}")
        return []

In [9]:
def check_data_added_to_dataframe(reviews_df):
    """
    Check if data is added to the DataFrame and print the first 10 rows.

    Args:
    - reviews_df (DataFrame): The DataFrame to check.
    """
    if not reviews_df.empty:
        print("\nData has been successfully added to the DataFrame.")
        print("Here are the first 10 rows:")
        print(reviews_df.head(10))
    else:
        print("\nNo data has been added to the DataFrame.")

In [11]:
def perform_data_quality_checks(reviews_df, stage='Initial'):
    """
    Perform data quality checks on the DataFrame.

    Args:
    - reviews_df (DataFrame): The DataFrame to check.
    - stage (str): Stage of the data (Initial or After Cleaning).
    """
    print(f"\n--- Data Quality Checks at {stage} Stage ---")
    firstTen = reviews_df.head(10)
    print(firstTen)
    
    print("\n\nData Summary:")
    print(reviews_df.info())
    
    print("\n\nStatistical Summary:")
    print(reviews_df.describe())

    #  Check unique values in 'Date' and 'Date Flown' for diagnosis
    print(reviews_df['Date Flown'].unique())
    print(reviews_df['Review Date'].unique())

    # Check the shape of the DataFrame (number of rows and columns)
    numRows, numColumns = reviews_df.shape
    numCells = numRows * numColumns
    print(f'\nNumber of rows: {numRows} \nNumber of columns: {numColumns} \nTotal number of cells: {numCells}')

    # Check null values and Calculate the total number of null values
    nullValues = reviews_df.isnull().sum()
    totalNulls = nullValues.sum()
    print(f'\nTotal number of null values:\n{nullValues}')
    print(f'Total number of null values: {totalNulls}')

    # Check Duplicates
    checkDuplicates = reviews_df.duplicated().sum()
    print(f'Total number of duplicate rows: {checkDuplicates}')

In [13]:
def clean_data(reviews_df):
    """
    Clean the DataFrame containing review data.

    Args:
    - reviews_df (DataFrame): The DataFrame to clean.

    Returns:
    - DataFrame: The cleaned DataFrame.
    """

    # Convert relevant columns to numeric, coercing errors to NaN
    columns_to_convert = ['Rating', 'Food & Beverages', 'Inflight Entertainment', 
                          'Seat Comfort', 'Cabin Staff Service', 'Ground Service']
    for column in columns_to_convert:
        reviews_df[column] = pd.to_numeric(reviews_df[column], errors='coerce')

    # Fill NaN values with zeros
    reviews_df[columns_to_convert] = reviews_df[columns_to_convert].fillna(0)

    # Drop all rows with any null values initially
    reviews_df = reviews_df.dropna()

    # Format data from text to DateTime data type
    reviews_df['Date Flown'] = pd.to_datetime(reviews_df['Date Flown'], format='%B %Y', errors='coerce')
    reviews_df['Review Date'] = pd.to_datetime(reviews_df['Review Date'], errors='coerce')

    # Drop rows with NaT values in the date columns after conversion
    reviews_df = reviews_df.dropna(subset=['Date Flown', 'Review Date'])

    # Remove quotation marks
    reviews_df['Review Title'] = reviews_df['Review Title'].str.replace('“', '').str.replace('”', '').str.strip('"')
    reviews_df['Author Location'] = reviews_df['Author Location'].str.replace('(', '').str.replace(')', '').str.strip(')')

    # Remove duplicates based on certain criteria
    reviews_df.drop_duplicates(subset=['Author', 'Review'], keep='first', inplace=True)
    
    return reviews_df

In [21]:
def save_to_csv(data):
    """
    Save a cleaned DataFrame to a CSV file.

    Args:
    - data (DataFrame): The cleaned DataFrame to save.
    """
    if not data.empty:
        if os.path.exists(csv_file):
            data.to_csv(csv_file, mode='a', index=False, header=False)
        else:
            data.to_csv(csv_file, index=False)
        print(f"Saved {len(data)} reviews to '{csv_file}'.")
    else:
        print("No data to save.")

In [25]:
def main():
    url = 'https://www.airlinequality.com/airline-reviews/ethiopian-airlines/'
    if check_connection(url):
        print("Connection successful. Proceeding to fetch data...")
        all_reviews = []
        for i in range(1, 8):
            reviews_data = fetch_reviews(i, 100)
            all_reviews.extend(reviews_data)
            time.sleep(5)

        if all_reviews:
            reviews_df = pd.DataFrame(all_reviews)
            
            # Check if data is added to the DataFrame
            check_data_added_to_dataframe(reviews_df)

            # Perform initial data quality checks
            perform_data_quality_checks(reviews_df, stage='Initial')

            # Clean the data
            cleaned_df = clean_data(reviews_df)

            # Check if cleaned data is added to the DataFrame
            check_data_added_to_dataframe(cleaned_df)

            # Perform data quality checks after cleaning
            perform_data_quality_checks(cleaned_df, stage='After Cleaning')

            # Save the cleaned data to CSV
            save_to_csv(cleaned_df)

    else:
        print("Failed to connect to the URL. Please check your connection or URL.")

if __name__ == "__main__":
    main()

Connection successful. Proceeding to fetch data...
Fetching reviews from page 1 with offset: 100.
Fetching reviews from page 2 with offset: 100.
Fetching reviews from page 3 with offset: 100.
Fetching reviews from page 4 with offset: 100.
Fetching reviews from page 5 with offset: 100.
Fetching reviews from page 6 with offset: 100.
Fetching reviews from page 7 with offset: 100.

Data has been successfully added to the DataFrame.
Here are the first 10 rows:
  Rating           Author  Author Location        Date  \
0      1     Bart Johnson  (United States)  2025-01-05
1      2       H Thornton  (United States)  2025-01-03
2      3            I Lee  (United States)  2024-12-17
3      1      Brenda Acan  (United States)  2024-12-16
4      3  Jillian Saltpaw  (United States)  2024-12-15
5      1         E Basano  (United States)  2024-12-04
6      4         M Larsen  (United States)  2024-12-01
7      1          S Jiang  (United States)  2024-12-01
8      1        Gala Pate  (United States)  2024-11-29
9      4        R Adamski  (United States)  2024-11-01

                                   Heading  \
0          "Not the best customer service"
1        “Worst business class experience”
2               "the toilets became dirty"
3                     “Worst service ever”
4           “service fell painfully short”
5  "Ethiopian Airlines needs to do better"
6     “I felt like I was back in the 90's”
7                     "expected much more"
8          “the most uncomfortable flight”
9  “didn’t like the flight or the service”

                                              Review Type of Traveller  \
0  ✅ Trip Verified |   Not the best customer serv...    Couple Leisure
1  ✅ Trip Verified | Worst business class experie...          Business
2  ✅ Trip Verified |   Towards the end of the fli...          Business
3  ✅ Trip Verified | Worst service ever. Beside d...    Couple Leisure
4  ✅ Trip Verified |   My recent journey from Was...    Couple Leisure
5  ✅ Trip Verified |   I just landed from an Ethi...      Solo Leisure
6  ✅ Trip Verified | HKG-BKK-ADD-LAD-ADD-VIE-CPH ...      Solo Leisure
7  ✅ Trip Verified |   Service was not there at a...    Couple Leisure
8  Not Verified | It was the most uncomfortable f...    Family Leisure
9  ✅ Trip Verified | The staff had a rather avera...          Business

        Seat Type                                        Route     Date Flown  \
0   Economy Class      Monrovia  to Washington via Addas Ababa   January 2025
1  Business Class              Addis Ababa to Toronto via Rome   January 2025
2   Economy Class                       Addis Ababa to Nairobi  December 2024
3   Economy Class               Dubai to Zanzibar via Ethiopia  December 2024
4   Economy Class               Washington IAD to Johannesburg  December 2024
5   Economy Class           Addis Ababa to Washington via Lome  November 2024
6   Economy Class           Hong Kong to Copenhagen via Luanda  November 2024
7   Economy Class                               Tokyo to Seoul  December 2024
8   Economy Class  Atlanta GA to Lusaka Zambia via Addis Ababa  December 2023
9  Business Class                         Hong Kong to Bangkok    August 2024

  Seat Comfort Cabin Staff Service Food & Beverages Inflight Entertainment  \
0            1                   3                1                    N/A
1            2                   1                1                      1
2            1                   1                3                    N/A
3            1                   1                1                      1
4            2                   2                1                      3
5            2                   2                1                      1
6            2                   3                3                      2
7            2                   1                2                    N/A
8            1                   1                1                      1
9            3                   1                3                      3

  Ground Service  Value for Money Recommended
0              2                2          no
1              2                3          no
2              3                3          no
3              1                1          no
4              1                1          no
5              2                1          no
6              2                3          no
7              5                1          no
8              1                1          no
9              3                3          no

--- Data Quality Checks at Initial Stage ---
  Rating           Author  Author Location        Date  \
0      1     Bart Johnson  (United States)  2025-01-05
1      2       H Thornton  (United States)  2025-01-03
2      3            I Lee  (United States)  2024-12-17
3      1      Brenda Acan  (United States)  2024-12-16
4      3  Jillian Saltpaw  (United States)  2024-12-15
5      1         E Basano  (United States)  2024-12-04
6      4         M Larsen  (United States)  2024-12-01
7      1          S Jiang  (United States)  2024-12-01
8      1        Gala Pate  (United States)  2024-11-29
9      4        R Adamski  (United States)  2024-11-01

                                   Heading  \
0          "Not the best customer service"
1        “Worst business class experience”
2               "the toilets became dirty"
3                     “Worst service ever”
4           “service fell painfully short”
5  "Ethiopian Airlines needs to do better"
6     “I felt like I was back in the 90's”
7                     "expected much more"
8          “the most uncomfortable flight”
9  “didn’t like the flight or the service”

                                              Review Type of Traveller  \
0  ✅ Trip Verified |   Not the best customer serv...    Couple Leisure
1  ✅ Trip Verified | Worst business class experie...          Business
2  ✅ Trip Verified |   Towards the end of the fli...          Business
3  ✅ Trip Verified | Worst service ever. Beside d...    Couple Leisure
4  ✅ Trip Verified |   My recent journey from Was...    Couple Leisure
5  ✅ Trip Verified |   I just landed from an Ethi...      Solo Leisure
6  ✅ Trip Verified | HKG-BKK-ADD-LAD-ADD-VIE-CPH ...      Solo Leisure
7  ✅ Trip Verified |   Service was not there at a...    Couple Leisure
8  Not Verified | It was the most uncomfortable f...    Family Leisure
9  ✅ Trip Verified | The staff had a rather avera...          Business

        Seat Type                                        Route     Date Flown  \
0   Economy Class      Monrovia  to Washington via Addas Ababa   January 2025
1  Business Class              Addis Ababa to Toronto via Rome   January 2025
2   Economy Class                       Addis Ababa to Nairobi  December 2024
3   Economy Class               Dubai to Zanzibar via Ethiopia  December 2024
4   Economy Class               Washington IAD to Johannesburg  December 2024
5   Economy Class           Addis Ababa to Washington via Lome  November 2024
6   Economy Class           Hong Kong to Copenhagen via Luanda  November 2024
7   Economy Class                               Tokyo to Seoul  December 2024
8   Economy Class  Atlanta GA to Lusaka Zambia via Addis Ababa  December 2023
9  Business Class                         Hong Kong to Bangkok    August 2024

  Seat Comfort Cabin Staff Service Food & Beverages Inflight Entertainment  \
0            1                   3                1                    N/A
1            2                   1                1                      1
2            1                   1                3                    N/A
3            1                   1                1                      1
4            2                   2                1                      3
5            2                   2                1                      1
6            2                   3                3                      2
7            2                   1                2                    N/A
8            1                   1                1                      1
9            3                   1                3                      3

  Ground Service  Value for Money Recommended
0              2                2          no
1              2                3          no
2              3                3          no
3              1                1          no
4              1                1          no
5              2                1          no
6              2                3          no
7              5                1          no
8              1                1          no
9              3                3          no


Data Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rating                  621 non-null    object
 1   Author                  621 non-null    object
 2   Author Location         621 non-null    object
 3   Date                    621 non-null    object
 4   Heading                 621 non-null    object
 5   Review                  621 non-null    object
 6   Type of Traveller       621 non-null    object
 7   Seat Type               621 non-null    object
 8   Route                   621 non-null    object
 9   Date Flown              621 non-null    object
 10  Seat Comfort            621 non-null    object
 11  Cabin Staff Service     621 non-null    object
 12  Food & Beverages        621 non-null    object
 13  Inflight Entertainment  621 non-null    object
 14  Ground Service          621 non-null    object
 15  Value for Money         621 non-null    int64
 16  Recommended             621 non-null    object
dtypes: int64(1), object(16)
memory usage: 82.6+ KB
None


Statistical Summary:
       Value for Money
count       621.000000
mean          2.805153
std           1.550974
min           0.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           5.000000
['January 2025' 'December 2024' 'November 2024' 'December 2023'
 'August 2024' 'September 2024' 'July 2024' 'June 2024' 'August 2023'
 'February 2024' 'May 2024' 'April 2024' 'March 2024' 'January 2024'
 'November 2023' 'September 2023' 'October 2023' 'July 2023' 'June 2023'
 'May 2023' 'April 2023' 'March 2023' 'April 2022' 'February 2023'
 'December 2022' 'October 2022' 'January 2023' 'November 2022'
 'September 2022' 'August 2022' 'July 2022' 'June 2022' 'May 2022'
 'December 2021' 'January 2022' 'March 2022' 'November 2021'
 'October 2021' 'November 2020' 'August 2021' 'July 2021' 'June 2021'
 'October 2020' 'July 2020' 'May 2021' 'February 2021' 'January 2021'
 'December 2020' 'April 2020' 'September 2020' 'January 2020' 'June 2019'
 'May 2020' 'March 2020' 'February 2020' 'August 2019' 'October 2019'
 'November 2019' 'December 2019' 'January 2019' 'September 2019'
 'July 2019' 'May 2019' 'March 2019' 'April 2019' 'November 2018'
 'February 2019' 'December 2018' 'September 2018' 'December 2017'
 'October 2018' 'February 2018' 'June 2018' 'July 2018' 'August 2018'
 'May 2018' 'March 2018' 'April 2018' 'January 2018' 'July 2017'
 'November 2017' 'October 2017' 'September 2017' 'June 2017'
 'January 2017' 'May 2017' 'April 2017' 'March 2017' 'December 2016'
 'February 2017' 'September 2016' 'October 2016' 'November 2016'
 'June 2016' 'December 2015' 'August 2016' 'July 2016' 'February 2016'
 'May 2016' 'April 2016' 'January 2016' 'March 2016' 'October 2015'
 'November 2015' 'September 2015' 'August 2015' 'June 2015' 'July 2015'
 'May 2015' 'March 2015' 'January 2015' 'N/A']
['2025-01-05' '2025-01-03' '2024-12-17' '2024-12-16' '2024-12-15'
 '2024-12-04' '2024-12-01' '2024-11-29' '2024-11-01' '2024-10-27'
 '2024-10-26' '2024-08-25' '2024-08-22' '2024-08-07' '2024-08-02'
 '2024-07-24' '2024-06-21' '2024-06-20' '2024-06-10' '2024-06-03'
 '2024-05-27' '2024-05-21' '2024-05-20' '2024-05-11' '2024-05-03'
 '2024-05-02' '2024-04-29' '2024-04-18' '2024-04-09' '2024-03-21'
 '2024-03-16' '2024-02-25' '2024-02-22' '2024-02-05' '2024-01-13'
 '2024-01-10' '2023-12-30' '2023-12-25' '2023-12-17' '2023-11-17'
 '2023-11-13' '2023-11-11' '2023-11-04' '2023-11-02' '2023-10-27'
 '2023-10-19' '2023-10-12' '2023-09-29' '2023-09-18' '2023-08-26'
 '2023-08-19' '2023-07-26' '2023-07-21' '2023-07-19' '2023-07-15'
 '2023-07-08' '2023-06-12' '2023-06-03' '2023-05-17' '2023-05-07'
 '2023-05-06' '2023-04-21' '2023-04-18' '2023-04-09' '2023-03-31'
 '2023-03-19' '2023-03-15' '2023-03-10' '2023-03-01' '2023-02-17'
 '2023-02-14' '2023-02-13' '2023-02-09' '2023-01-31' '2023-01-27'
 '2023-01-20' '2023-01-17' '2023-01-14' '2022-12-30' '2022-12-28'
 '2022-12-27' '2022-12-19' '2022-12-04' '2022-11-30' '2022-11-17'
 '2022-11-10' '2022-11-03' '2022-11-01' '2022-10-23' '2022-10-16'
 '2022-10-11' '2022-09-21' '2022-09-14' '2022-09-11' '2022-09-09'
 '2022-08-22' '2022-08-16' '2022-08-11' '2022-08-09' '2022-08-07'
 '2022-08-01' '2022-07-23' '2022-07-22' '2022-07-18' '2022-07-15'
 '2022-07-14' '2022-07-11' '2022-06-30' '2022-06-18' '2022-05-30'
 '2022-05-29' '2022-05-04' '2022-04-28' '2022-04-20' '2022-04-16'
 '2022-04-12' '2022-03-29' '2022-02-03' '2022-01-26' '2021-12-16'
 '2021-10-18' '2021-10-14' '2021-08-31' '2021-08-06' '2021-07-29'
 '2021-07-17' '2021-07-10' '2021-07-04' '2021-06-24' '2021-06-16'
 '2021-06-07' '2021-05-25' '2021-05-17' '2021-01-30' '2021-01-16'
 '2021-01-15' '2021-01-11' '2021-01-10' '2020-12-28' '2020-12-23'
 '2020-12-02' '2020-11-24' '2020-11-21' '2020-11-19' '2020-11-16'
 '2020-11-09' '2020-11-08' '2020-07-19' '2020-07-12' '2020-05-21'
 '2020-05-18' '2020-04-27' '2020-04-09' '2020-03-31' '2020-03-30'
 '2020-03-19' '2020-02-24' '2020-02-23' '2020-02-19' '2020-02-17'
 '2020-02-03' '2020-01-18' '2020-01-13' '2020-01-09' '2020-01-08'
 '2019-12-16' '2019-12-13' '2019-12-08' '2019-12-07' '2019-11-27'
 '2019-11-19' '2019-11-04' '2019-10-21' '2019-10-09' '2019-10-08'
 '2019-10-03' '2019-09-28' '2019-09-22' '2019-09-19' '2019-09-10'
 '2019-08-27' '2019-08-23' '2019-08-19' '2019-08-02' '2019-07-17'
 '2019-07-02' '2019-07-01' '2019-06-11' '2019-06-06' '2019-06-04'
 '2019-06-02' '2019-05-31' '2019-05-21' '2019-05-12' '2019-04-22'
 '2019-03-21' '2019-03-13' '2019-03-12' '2019-03-06' '2019-02-25'
 '2019-02-16' '2019-02-04' '2019-02-03' '2019-01-28' '2019-01-24'
 '2019-01-21' '2019-01-08' '2019-01-05' '2019-01-03' '2019-01-02'
 '2018-12-24' '2018-12-16' '2018-12-09' '2018-12-05' '2018-11-27'
 '2018-11-25' '2018-11-19' '2018-11-11' '2018-11-09' '2018-11-07'
 '2018-11-01' '2018-10-22' '2018-10-17' '2018-10-15' '2018-10-08'
 '2018-09-06' '2018-08-24' '2018-08-22' '2018-08-21' '2018-08-20'
 '2018-08-19' '2018-08-17' '2018-08-15' '2018-08-13' '2018-08-10'
 '2018-08-01' '2018-07-24' '2018-07-19' '2018-07-18' '2018-07-16'
 '2018-07-13' '2018-07-11' '2018-07-07' '2018-06-24' '2018-06-22'
 '2018-06-14' '2018-06-09' '2018-06-05' '2018-05-28' '2018-05-25'
 '2018-05-20' '2018-05-18' '2018-05-09' '2018-05-07' '2018-04-23'
 '2018-04-22' '2018-04-17' '2018-04-15' '2018-03-05' '2018-02-23'
 '2018-02-11' '2018-02-08' '2018-02-02' '2018-01-30' '2018-01-28'
 '2018-01-18' '2018-01-11' '2018-01-04' '2017-12-05' '2017-12-03'
 '2017-11-13' '2017-11-03' '2017-10-24' '2017-10-02' '2017-09-29'
 '2017-09-25' '2017-09-21' '2017-09-02' '2017-08-24' '2017-08-20'
 '2017-08-06' '2017-08-05' '2017-08-03' '2017-08-02' '2017-07-28'
 '2017-07-27' '2017-07-20' '2017-07-19' '2017-07-05' '2017-06-28'
 '2017-06-20' '2017-06-06' '2017-05-25' '2017-05-16' '2017-05-15'
 '2017-05-12' '2017-05-07' '2017-04-29' '2017-04-19' '2017-04-18'
 '2017-04-13' '2017-04-12' '2017-04-04' '2017-03-27' '2017-03-15'
 '2017-02-16' '2017-02-03' '2017-01-30' '2017-01-29' '2017-01-20'
 '2017-01-19' '2017-01-15' '2017-01-08' '2017-01-04' '2017-01-02'
 '2016-12-25' '2016-12-22' '2016-12-18' '2016-12-17' '2016-12-02'
 '2016-11-29' '2016-11-11' '2016-11-09' '2016-10-18' '2016-10-16'
 '2016-10-09' '2016-10-05' '2016-09-30' '2016-09-21' '2016-09-18'
 '2016-09-04' '2016-08-29' '2016-08-26' '2016-07-20' '2016-07-15'
 '2016-07-10' '2016-07-06' '2016-06-26' '2016-06-07' '2016-06-02'
 '2016-05-25' '2016-05-07' '2016-04-28' '2016-04-27' '2016-04-21'
 '2016-04-10' '2016-04-04' '2016-04-01' '2016-03-23' '2016-03-20'
 '2016-03-16' '2016-03-04' '2016-02-19' '2016-02-18' '2016-02-16'
 '2016-01-19' '2016-01-13' '2016-01-07' '2016-01-05' '2016-01-02'
 '2015-12-30' '2015-12-25' '2015-12-19' '2015-12-15' '2015-12-08'
 '2015-12-04' '2015-11-27' '2015-11-24' '2015-11-15' '2015-11-12'
 '2015-11-08' '2015-11-05' '2015-11-04' '2015-10-25' '2015-10-01'
 '2015-09-11' '2015-09-07' '2015-09-01' '2015-08-28' '2015-08-27'
 '2015-08-18' '2015-07-27' '2015-07-20' '2015-07-16' '2015-07-05'
 '2015-07-02' '2015-06-30' '2015-06-29' '2015-06-16' '2015-06-13'
 '2015-06-06' '2015-04-20' '2015-04-19' '2015-03-28' '2015-03-04'
 '2015-01-21' '2015-01-19' '2015-01-14' '2015-01-11' '2014-12-31'
 '2014-12-29' '2014-12-22' '2014-11-20' '2014-11-17' '2014-11-12'
 '2014-11-06' '2014-11-03' '2014-10-20' '2014-10-12' '2014-10-08'
 '2014-09-24' '2014-09-06' '2014-09-01' '2014-08-18' '2014-08-14'
 '2014-08-11' '2014-08-03' '2014-07-31' '2014-06-25' '2014-06-23'
 '2014-06-10' '2014-05-23' '2014-05-18' '2014-05-12' '2014-05-11'
 '2014-05-10' '2014-04-27' '2014-04-21' '2014-04-10' '2014-04-02'
 '2014-03-31' '2014-03-24' '2014-03-21' '2014-03-14' '2014-03-12'
 '2014-03-06' '2014-02-26' '2014-02-25' '2014-02-20' '2014-02-17'
 '2014-02-14' '2014-02-13' '2014-02-10' '2014-02-07' '2014-01-28'
 '2014-01-25' '2014-01-16' '2014-01-10' '2014-01-09' '2014-01-07'
 '2014-01-06' '2014-01-03' '2013-12-23' '2013-12-16' '2013-12-06'
 '2013-12-02' '2013-11-27' '2013-11-22' '2013-11-19' '2013-11-18'
 '2013-11-15' '2013-11-12' '2013-11-10' '2013-10-23' '2013-10-22'
 '2013-10-10' '2013-10-07' '2013-10-06' '2013-09-29' '2013-09-03'
 '2013-09-02' '2013-08-22' '2013-07-30' '2013-07-29' '2013-07-28'
 '2013-07-23' '2013-07-17' '2013-07-09' '2013-07-03' '2013-06-25'
 '2013-06-21' '2013-06-16' '2013-06-13' '2013-06-02' '2013-05-29'
 '2013-05-26' '2013-04-19' '2013-04-16' '2013-04-01' '2013-03-13'
 '2013-02-27' '2013-02-26' '2013-02-25' '2013-01-29' '2013-01-24'
 '2013-01-23' '2013-01-15' '2013-01-09' '2013-01-08' '2012-12-12'
 '2012-12-10' '2012-11-27' '2012-11-15' '2012-11-06' '2012-10-18'
 '2012-10-08' '2012-04-30' '2012-04-26' '2012-04-24' '2012-04-21'
 '2012-04-20' '2012-04-16' '2012-04-08' '2012-04-04' '2012-03-22'
 '2012-03-01' '2012-02-24' '2012-02-10' '2012-01-26' '2012-01-06'
 '2012-01-04' '2011-12-30' '2011-12-28' '2011-12-14' '2011-12-13'
 '2011-11-25' '2011-11-18' '2011-10-17' '2011-10-04' '2011-09-13'
 '2011-09-11' '2011-09-05' '2011-09-01' '2011-08-30' '2011-02-23'
 '2011-01-23' '2011-01-21' '2011-01-15' '2010-12-30' '2010-12-28'
 '2010-12-27' '2010-12-14' '2010-10-30' '2010-10-22' '2010-10-15'
 '2010-10-12' '2010-10-06' '2010-10-03' '2010-09-30' '2010-09-26'
 '2010-09-19' '2010-08-28']

Number of rows: 621
Number of columns: 17
Total number of cells: 10557

Total number of null values:
Rating                    0
Author                    0
Author Location           0
Date                      0
Heading                   0
Review                    0
Type of Traveller         0
Seat Type                 0
Route                     0
Date Flown                0
Seat Comfort              0
Cabin Staff Service       0
Food & Beverages          0
Inflight Entertainment    0
Ground Service            0
Value for Money           0
Recommended               0
dtype: int64
Total number of null values: 0
Total number of duplicate rows: 0

Data has been successfully added to the DataFrame.
Here are the first 10 rows:
   Rating           Author Author Location       Date  \
0     1.0     Bart Johnson   United States 2025-01-05
1     2.0       H Thornton   United States 2025-01-03
2     3.0            I Lee   United States 2024-12-17
3     1.0      Brenda Acan   United States 2024-12-16
4     3.0  Jillian Saltpaw   United States 2024-12-15

In [ ]:
import pandas as pd
import os

In [28]:
# File name of the CSV
fileName = 'scraped_reviews2.csv'

In [30]:
# Check if the file exists
if os.path.isfile(fileName):
    print(f"'{fileName}' does exist.") 
else:
    print(f"'{fileName}' does not exist.")

'scraped_reviews2.csv' does exist.

In [35]:
#Read CSV file
OpenFile = pd.read_csv(fileName)
FirstTen = OpenFile.head(20)
FirstTen

,Rating,Author,Author Location,Date,Heading,Review,Type of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value for Money,Recommended
0,1.0,Bart Johnson,United States,2025-01-05,Not the best customer service,✅ Trip Verified | Not the best customer serv...,Couple Leisure,Economy Class,Monrovia to Washington via Addas Ababa,2025-01-01,1.0,3.0,1.0,0.0,2.0,2,no
1,2.0,H Thornton,United States,2025-01-03,Worst business class experience,✅ Trip Verified | Worst business class experie...,Business,Business Class,Addis Ababa to Toronto via Rome,2025-01-01,2.0,1.0,1.0,1.0,2.0,3,no
2,3.0,I Lee,United States,2024-12-17,the toilets became dirty,✅ Trip Verified | Towards the end of the fli...,Business,Economy Class,Addis Ababa to Nairobi,2024-12-01,1.0,1.0,3.0,0.0,3.0,3,no
3,1.0,Brenda Acan,United States,2024-12-16,Worst service ever,✅ Trip Verified | Worst service ever. Beside d...,Couple Leisure,Economy Class,Dubai to Zanzibar via Ethiopia,2024-12-01,1.0,1.0,1.0,1.0,1.0,1,no
4,3.0,Jillian Saltpaw,United States,2024-12-15,service fell painfully short,✅ Trip Verified | My recent journey from Was...,Couple Leisure,Economy Class,Washington IAD to Johannesburg,2024-12-01,2.0,2.0,1.0,3.0,1.0,1,no
5,1.0,E Basano,United States,2024-12-04,Ethiopian Airlines needs to do better,✅ Trip Verified | I just landed from an Ethi...,Solo Leisure,Economy Class,Addis Ababa to Washington via Lome,2024-11-01,2.0,2.0,1.0,1.0,2.0,1,no
6,4.0,M Larsen,United States,2024-12-01,I felt like I was back in the 90's,✅ Trip Verified | HKG-BKK-ADD-LAD-ADD-VIE-CPH ...,Solo Leisure,Economy Class,Hong Kong to Copenhagen via Luanda,2024-11-01,2.0,3.0,3.0,2.0,2.0,3,no
7,1.0,S Jiang,United States,2024-12-01,expected much more,✅ Trip Verified | Service was not there at a...,Couple Leisure,Economy Class,Tokyo to Seoul,2024-12-01,2.0,1.0,2.0,0.0,5.0,1,no
8,1.0,Gala Pate,United States,2024-11-29,the most uncomfortable flight,Not Verified | It was the most uncomfortable f...,Family Leisure,Economy Class,Atlanta GA to Lusaka Zambia via Addis Ababa,2023-12-01,1.0,1.0,1.0,1.0,1.0,1,no
9,4.0,R Adamski,United States,2024-11-01,didn’t like the flight or the service,✅ Trip Verified | The staff had a rather avera...,Business,Business Class,Hong Kong to Bangkok,2024-08-01,3.0,1.0,3.0,3.0,3.0,3,no
10,1.0,Amadu Seidu,United States,2024-10-27,appalling customer service experience,"Not Verified | Stranded, Ignored, and Betrayed...",Solo Leisure,Economy Class,Accra to Atlanta via Bole,2024-08-01,1.0,1.0,0.0,0.0,1.0,1,no
11,10.0,Annie Wegner LeFort,United States,2024-10-26,appreciative of his persistence,Not Verified | Because of a very tight connect...,Solo Leisure,Economy Class,Chicago to Johannesburg via Addis Ababa,2024-09-01,5.0,5.0,5.0,5.0,4.0,5,yes
12,1.0,Ramon Van der Rassel,United States,2024-08-25,the most terrible company,Not Verified | I started my trip at Antananar...,Solo Leisure,Economy Class,Antananarivo to Brussels via Addis Ababa,2024-08-01,0.0,0.0,0.0,0.0,1.0,1,no
13,10.0,T Neumann,United States,2024-08-22,staff very welcoming and supportive,"Not Verified | As disclaimer, I am a big fan o...",Solo Leisure,Economy Class,Libreville to Frankfurt via Addis Ababa,2024-07-01,4.0,5.0,5.0,3.0,5.0,5,yes
14,3.0,K Foard,United States,2024-08-07,airline is NEVER on time,Not Verified | This airline is NEVER on time. ...,Solo Leisure,Economy Class,Harar to Addis Ababa,2024-08-01,3.0,4.0,2.0,1.0,2.0,2,no
15,2.0,Azhar Amine,United States,2024-08-02,did not load my luggage,Not Verified | They did not load my luggage de...,Solo Leisure,Premium Economy,London to Nairobi via Addis Ababa,2024-07-01,3.0,1.0,1.0,1.0,1.0,1,no
16,1.0,Helen Osborne,United States,2024-07-24,they won't respond,✅ Trip Verified | On their website they claim...,Solo Leisure,Economy Class,Cape Town to Gatwick via Addis Ababa,2024-07-01,1.0,1.0,1.0,1.0,1.0,1,no
17,1.0,L Gan,United States,2024-06-21,the luggage was never loaded,✅ Trip Verified | Our flight ET629 was delaye...,Solo Leisure,Business Class,Bangkok to Kigali via Addis Adaba,2024-06-01,2.0,3.0,2.0,0.0,1.0,1,no
18,4.0,Dr Caleb Moyo,United States,2024-06-20,Luggage is never on schedule,Not Verified | I lost part of luggage from the...,Family Leisure,Economy Class,Bulawayo to Hamad via Addis Ababa,2023-08-01,3.0,4.0,2.0,1.0,2.0,5,no
19,1.0,E Thane,United States,2024-06-10,Boeing 737 MAX 8 which is not ideal,✅ Trip Verified | I travel almost every weeke...,Business,Economy Class,Addis Ababa to Johannesburg,2024-06-01,1.0,2.0,0.0,0.0,1.0,1,no